/node_modules
/public/hot
/public/storage
/public/imagenes
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/etc
.vagrant
/node_modules
.idea/
.DS_Store
